@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    max-width: 100% !important;
/*    background: #bbcb9c;*/
}

.container {
   display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(3, auto);
    font-family: verdana;
}

section,footer {
    background: #aaa;
    padding: 1em 0;
}

nav {
    background:none;
    position: sticky;
    top: 0;
}

nav, footer, main {
    grid-column: 1 / 4;
}

main {
    /*background: #b5ca8d;*/
    /*background: #bbcb9c;*/
    background: #f5f5f5;
    padding: 2em;
    min-height: 90vh;
    animation: appear 1s;
}

main > * {
   /* background: #ccddc2;*/
    /*background: #ced8b9;*/
    border: 2px solid #269ccc;
    background: #e5e5e5;
    color: #575757;
    box-shadow: 10px 15px 0px 0px #269ccc;
    font-family: verdana;
}

footer {
    /*background: #2a4849;*/
    background: #269ccc;
    color: white;
    text-shadow:
    3px 3px 0 #7b7b7b,
  -1px -1px 0 #7b7b7b,  
   1px -1px 0 #7b7b7b,
   -1px 1px 0 #7b7b7b,
    1px 1px 0 #7b7b7b;
    box-shadow: 0px -3px 2px #c7c7c7;
}

img {
    max-width: 100%;
}

.container > * {
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: nowrap;
}

main > section {
    margin: 0 20px;
}

nav > ul {
list-style-type: none;
display: flex;
align-items: center;
justify-content: space-evenly;
flex-wrap: wrap;
padding: 1em;
/*background: #828975;*/
background: #fff;
box-shadow: 2px 2px 2px #c7c7c7;
width: 100%;
} 

nav > ul > li {
   /* background: #222e50;*/
   background: #269ccc;
    padding: 1em 3em;
    /*border-bottom: 2px solid #222e50;*/
    margin: 0px 1em;
    box-shadow: 5px 5px 0px 0px #9ed2c5;
    transition: 0.3s;
    border: 2px solid #9ed2c5;
}

nav > ul > li > a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 5px;
    color: #fff;
    font-weight: 900;
    /*text-shadow:
    3px 3px 0 #9ed2c5,
    -1px -1px 0 #9ed2c5,  
    1px -1px 0 #9ed2c5,
    -1px 1px 0 #9ed2c5,
    1px 1px 0 #9ed2c5;*/
    box-sizing: border-box;
}

nav > ul > li:hover, #resultBtn:hover {
   /* border-bottom: 2px solid #fff;*/
    box-shadow: 7px 7px 0px 1px #9ed2c5;
}

address > a {
    text-decoration: none;
    color: inherit;
    font-style: initial;
    font-family: verdana;
    letter-spacing: 3px;
}

address > a:hover {
    text-decoration: underline;
}

.nobg {
    background: none;
}

section.nobg {
    padding: 0;
    margin-bottom: 3em;
}

.home-title {
    background-image: url(math.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 6em;
    font-family: 'Luckiest Guy', 'Comic Sans MS', cursive;
    text-align: center;
    user-select: none;
    letter-spacing: 8px;
    padding: 0.25em;
    /*-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.8) 30%, #000 50%, rgba(0,0,0,.8) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s linear infinite; */
}

@keyframes appear {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

/*@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}*/


.about-sec {
    padding: 2em;
    /*min-height: 100%; !!! */
   /* min-height: 80vh;*/
   min-height: 100%;
    min-width: 25%;
    max-width: 50%;
    color: #222e50;
    text-align: justify;
   /* text-shadow: 1px 1px #fff;*/
}

.about-sec >  ul {
    list-style-type: square;
    line-height: 2em;
    margin-left: 1em;
}

.m-top {
    margin-top: 2em;
}

.formula {
    text-align: center;
    font-style: italic;
}

.about-sec > p {
    line-height: 1.5em;
}

p > a {
    color: inherit;
    font-weight: 900;
    text-decoration: none;
}

p > a:hover {
    text-decoration: underline;
}

.about-sec > h1 {
    text-indent: 0;
    text-align: center;
}

.about-sec > h2 {
    text-align: center;
    padding-bottom: 1em;
    text-shadow: 10px 15px 0px 0px #000;
}

.about-art {
    text-indent: 2em;
}

.about-art > p:first-of-type:first-letter  {
    font-weight: 900;
    background: #9ed2c5;
    padding: 1px;
}

#calcResult > p.formula {
    font-size: 1.5em;
}

input[type='number']
{
    margin-top: 1em;
    border: none;
    font-size: 1.5em;
    width: 1em;
    text-align: center;
    background: #9ed2c5;
    box-shadow: 5px 5px 0px -1px #9ed2c5, inset 3px 3px 0px 0px #e5e5e5;
    transition: 0.5s;
    /*color: #222e50;*/
    color: #269ccc;
    border: 3px solid #269ccc;
    /*mozilla*/
    -moz-appearance:textfield;
}

input[type='number']:focus{
    width: 1.5em;
    outline: none;
    caret-color: transparent;
}


input[type='number']:focus::placeholder {
    color: transparent;
}

/* chrome safari edge opera */
    
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.calc {
    font-size: 1.5em;
    text-align: center;
}

.calc > div {

}

#resultBtn {
    padding: 1em;
    border:none;
    margin: 2em;
    color: #fff;
    font-family: verdana;
    box-shadow: 5px 5px 0px 0px #9ed2c5;
    background: #269ccc;
    letter-spacing: 5px;
    font-weight: 900;
    padding: 1em 2em;
    cursor: pointer;
    transition: 0.3s;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    min-height: initial;
}

.contact {
    padding: 2em;
    color: #222e50;
    width: 100%;
}