@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    max-width: 100% !important;
    background: #bbcb9c;
}

.container {
   display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(3, auto);
    font-family: verdana;
}

section,footer {
    background: #aaa;
    padding: 1em 0;
}

nav {
    background:none;
    position: sticky;
    top: 0;
}

nav, footer, main {
    grid-column: 1 / 4;
}

main {
    /*background: #b5ca8d;*/
    background: #bbcb9c;
    padding: 2em;
    min-height: 82vh;
    animation: appear 1s;
}

main > * {
   /* background: #ccddc2;*/
    background: #ced8b9;
}

footer {
    background: #2a4849;
    color: white;
}

.container > * {
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: nowrap;
}

main > section {
    margin: 0 20px;
}

ul {
list-style-type: none;
display: flex;
align-items: center;
justify-content: space-evenly;
flex-wrap: wrap;
padding: 1em;
background: #828975;
} 

ul > li {
    background: #222e50;
    padding: 1em 3em;
    border-bottom: 2px solid #222e50;
    margin: 0px 1em;
    box-shadow: 4px 4px 0px -1px #fff;
    transition: 0.3s;
}

ul > li > a {
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
    letter-spacing: 5px;
    color: #fff;
    font-weight: 900;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       box-sizing: border-box;
}

ul > li:hover {
   /* border-bottom: 2px solid #fff;*/
    box-shadow: 5px 5px 0px 1px #fff;
    text-decoration: underline;
    text-decoration-color: #fff;
}

address > a {
    text-decoration: none;
    color: inherit;
    font-style: initial;
    font-family: verdana;
    letter-spacing: 3px;
}

address > a:hover {
    text-decoration: underline;
}

.nobg {
    background: none;
}

section.nobg {
    padding: 0;
    margin-bottom: 3em;
}

.home-title {
    background-image: url(math.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 6em;
    font-family: 'Luckiest Guy', 'Comic Sans MS', cursive;
    text-align: center;
    user-select: none;
    letter-spacing: 8px;
    /*-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.8) 30%, #000 50%, rgba(0,0,0,.8) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s linear infinite; */
}

@keyframes appear {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

/*@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}*/


.about-sec {
    padding: 2em;
    /*min-height: 100%; !!! */
    min-height: 80vh;
    min-width: 25%;
    max-width: 50%;
    color: #222e50;
    text-align: justify;
    box-shadow: 10px 15px 0px 0px #828975;
    text-shadow: 1px 1px #fff;
    text-indent: 2em;
}

.about-sec > h1 {
    text-indent: 0;
    text-align: center;
}

.about-sec > h2 {
    text-align: center;
    padding-bottom: 1em;
    text-shadow: 10px 15px 0px 0px #000;
}

p:first-letter {
    font-weight: 900;
    font-size: 1.5em;
    font-family: Georgia, serif;
}

input[type='number']
{
    margin-top: 1em;
    border: none;
    font-size: 1.5em;
    width: 1em;
    text-align: center;
    background: #bbcb9c;
    box-shadow: 1px 2px 0px 0px #828975;
    transition: 0.5s;

    /*mozilla*/
    -moz-appearance:textfield;
}

input[type='number']:focus{
    width: 1.5em;
    color: transparent;
}

/* chrome safari edge opera */
    
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.calc {
    font-size: 1.5em;
    text-align: center;
}

.calc > div {

}
