@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    max-width: 100% !important;
    background: #2a4849;
}

.container {
   display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(3, auto);
    font-family: verdana;
}

nav, section,footer {
    background: #aaa;
    padding: 1em 0;
}

nav {
    background: #426b69;
}

nav, footer, main {
    grid-column: 1 / 4;
}

main {
    /*background: #b5ca8d;*/
    background: #bbcb9c;
    min-height: 80vh;
    padding: 2em;
}

main > * {
    background: #ccddc2;
}

footer {
    background: #2a4849;
    color: white;
}

.container > * {
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
}

ul {
list-style-type: none;
display: flex;
align-items: center;
justify-content: space-evenly;
flex-wrap: wrap;
width: 100vw;
} 

ul > li {
    background: #222e50;
    padding: 1em 3em;
    border-bottom: 2px solid #222e50;
}

ul > li > a {
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
    letter-spacing: 5px;
    color: #fff;
    font-weight: 900;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       box-sizing: border-box;

}

ul > li:hover {
    border-bottom: 2px solid #fff;
}

address > a {
    text-decoration: none;
    color: inherit;
    font-style: initial;
    font-family: verdana;
    letter-spacing: 3px;
}

address > a:hover {
    text-decoration: underline;
}

.nobg {
    background: none;
}

.home-title {
    background-image: url(math.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 12vh;
    font-family: 'Luckiest Guy', 'Comic Sans MS', cursive;
    text-align: center;
    user-select: none;
}